* {
  margin: 0;
}

body {
  --sphere-color: #004533;
  overflow: hidden;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  display: block;
  position: absolute;
  background-size: cover;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 100% 100%;
  position: fixed;
  z-index: 0;
}
